// Colors
// hr
$bg: transparent;

$grey: #393939;
$yellow: #F8BD01;

$lila: #da2e75;
$blue: #3372df;
$red: #cb4437;
$bluegreen: #09829a;
$lightgrey: #bbb;

// Links
$link-color: $yellow;
$link-color--header: $yellow;

// Header
$header-bg: $grey;
$header-color: #fff;

// Comments
$comments-bg: $yellow;
$comments-color: #fff;
$comment-bg: #fff;
$comment-color: $grey;


// Base
@import "mixins";
@import "../libs/normalize-scss/normalize";
@import "base";

// Layout
@import "layout";

// Modules
@import "modules/header";
@import "modules/menu";
@import "modules/content";
@import "modules/footer";

@import "modules/article";
@import "modules/archive";
@import "modules/markdown";
@import "modules/comments";

@import "modules/loading";
@import "modules/hr";
@import "modules/404";

// Global States
@import "global-states";
@import "animations";
