*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background: $grey;
  text-shadow: none;
}

html {
  height: 100%;

  background-color: #fff;

  font-size: 120%;

  backface-visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  color: #404040;
}

h1 {
  font-size: 4em;
}

h2 {

}

a {
  position:relative;

  color: $link-color;
  text-decoration: none;
}
a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 1px;

  background-color: $link-color;

  transition: all .2s;
}
a:hover::before {
  width: 100%;
  left: 0%;
}
.site-header a {
  color: $link-color--header;

  &::before {
    background-color: $link-color--header;
  }
}

img, canvas, iframe, video {
  max-width: 100%;
}
