@mixin bp($point) {
  @if ($MQs) {
    $bp-babybear: "(min-width: 600px)";
    $bp-mamabear: "(min-width: 980px)";
    $bp-papabear: "(min-width: 1200px)";
  
    @if $point == papa-bear {
      @media #{$bp-papabear} { @content; }
    }
    @else if $point == mama-bear {
      @media #{$bp-mamabear} { @content; }
    }
    @else if $point == baby-bear {
      @media #{$bp-babybear}  { @content; }
    }
  }
}