// Colors
// hr
$bg: transparent;
$pink: #F84BA2;
$grey: #3A4145;
$lightgrey: #bbb;

// Media Queries
$MQs: true;

// Base
@import "mixins";
@import "../libs/normalize-scss/normalize";
@import "base";

// Layout
@import "layout";

// Modules
@import "modules/header";
@import "modules/menu";
@import "modules/content";
@import "modules/footer";

@import "modules/article";
@import "modules/categories";
@import "modules/markdown";


@import "modules/hr";
@import "modules/404";

// Global States
@import "global-states";
@import "animations";