.loading {
  display: block;

  text-align: center;

  &::before {
    content: "";
    display: inline-block;
    margin: 1em 5em;

    border-width: 1.8em;
    border-radius: 50%;

    border-style: double;
    border-color: #444 transparent;

    animation: spin 1s linear infinite;
  }
}

.loading.loading--inline {
  display: inline-block;

  &::before {
    margin: 0 0.5em;

    font-size: 0.3em;
  }
}
.loading.loading--white {
  &::before {
    border-color: #fff transparent;
  }
}

.style-1 {
  border-style: solid;
  border-color: #444 transparent;
}

.style-2 {
  border-style: double;
  border-color: #444 transparent;
}

.style-3 {
  border-style: double;
  border-color: #444 #fff #fff;
}

@keyframes spin {
  100% {  transform: rotate(359deg); }
}
