<div class="site-content categories">
	<h2>Artikel filtern nach…</h2>
	<h3>Kategorien</h3>
	<input type="radio" ng-model="category" name="category" id="everything" value="everything"><label for="everything">Alle Artikel</label>
	<input type="radio" ng-model="category" name="category" id="random-thoughts" value="random-thoughts"><label for="random-thoughts">Random Thoughts</label>
	<input type="radio" ng-model="category" name="category" id="web-design" value="web-design"><label for="web-design">Web Design</label>
	<input type="radio" ng-model="category" name="category" id="website" value="website"><label for="blog-dev">Website- und Blogentwicklung</label>

	<h3>Autoren</h3>
	<input type="radio" ng-model="author" name="author" id="everyone" value="everyone"><label for="everyone">Alle Autoren</label>
	<input type="radio" ng-model="author" name="author" id="michi" value="michi"><label for="michi">Michi</label>
	<input type="radio" ng-model="author" name="author" id="fuzael" value="fuzael"><label for="fuzael">Fuzael</label>

	<div class="article-preview" ng-repeat="article in articles | object2Array | orderBy:'date':true | filter:{category:categoryfilter} | filter:{author:authorfilter}">
		<h3><a href="#/artikel/{{ article.slug }}">{{ article.title }}</a></h3>
	</div>
</div>