// Form
.commentform, .commentform-preview {
  width: 48%;
  display: inline-block;

  vertical-align: top;
}
.commentform-preview {
  min-height: 12em;

  background-color: $comment-bg;

  p:last-child {
    margin-bottom: 0;
  }
  p:first-child {
    margin-top: 0;
  }

  hr {
    box-shadow: none;

    &::after {
      background-color: $comment-bg;
    }
  }
}

.commentform-content {
  min-height: 12em;
  width: 100%;
}
.commentform-submit {
  display: inline-block;
}

// Comments
.article-comments {
  background-color: $comments-bg;
}

.comments {
  padding-left: 0;

  list-style: none;
}
.comments-heading {
  color: $comments-color;
}
h3.comments-heading {
  width: 48%;
  display: inline-block;

  vertical-align: top;
}

.comment {
  position: relative;
  margin: 1em 0;
  padding: 0.75em;

  border-left: 0.25em solid $lila;

  background-color: $comment-bg;

  color: $comment-color;
}
.comment-content {
  p:last-child {
    margin-bottom: 0;
  }
  p:first-child {
    margin-top: 0;
  }

  hr {
    box-shadow: 0.75em 0 $lightgrey, -0.75em 0 $lightgrey;

    &::after {
      background-color: $comment-bg;
    }
  }
}
.comment-controls {
  position: absolute;
  top: 0;
  right: 0;
}
.comment-controls-delete {
  border: none;
  outline: none;

  background-color: transparent;

  color: $red;
  font-size: 1.5em;
}
